name: Build and Push Multi-Architecture Docker Image

on:
  push:
    branches:
      - prod
  pull_request:
    branches:
      - prod

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      PORT: 5000
      REDIRECT_URL: http://127.0.0.1:5000/api/v1/user/oauth
      BACKEND_URL: http://localhost:5000
      FRONTEND_URL: http://localhost:5173
      BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
         context: .
         push: true
         platforms: linux/amd64,linux/arm64
         tags: vijayvenkatj/campusconnect-backend:latest
         build-args: |
            CLIENT_ID: ${{ secrets.CLIENT_ID }}
            CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
            JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
            DATABASE_URL: ${{ secrets.DATABASE_URL }}
            BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
            AWS_REGION: ${{ secrets.AWS_REGION }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}



